<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WPF_Login_MaterialUI.Properties.Settings.pmedicaConnectionString"
            connectionString="Data Source=100.0.0.250;Initial Catalog=pmedica;Persist Security Info=True;User ID=pmedicasql;Password=pmedicasqlusername123!@#"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>